
<!doctype html>

<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Thing" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- This is Squarespace. -->
<base href="">
<meta charset="utf-8" />
<title>noQliao</title>
<link rel="image_src" href="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/5320d02fe4b08972e50ae40c/5320e47ae4b0c76f8e3da2e7/?format=1000w" />
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-75b5b5b3e66c0a1e768ed254becd8828-min.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
<script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/commerce-e7c90cffb464643f4b5e40138699c6a2-min.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-commerce');</script>
<script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].css = ["//static.squarespace.com/universal/styles-compressed/commerce-5d65367b75275f9711bf36c9b77938c3-min.css"]; })(SQUARESPACE_ROLLUPS, 'squarespace-commerce');</script>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://www.piedpiper.com/home?format=RSS" />
<script type="text/javascript" data-sqs-type="dynamic-assets-loader">(function() {(function(a){try{if(window.top!=window&&window.top.Squarespace&&window.top.Squarespace.frameAvailable){window.top.Squarespace.frameAvailable(window,SQUARESPACE_ROLLUPS);return}}catch(d){console.error(d)}for(var c in a){if(a[c].js)for(var b=0;b<a[c].js.length;b++)document.write('<script type="text/javascript" src="'+a[c].js[b]+'">\x3c/script>');if(a[c].css)for(b=0;b<a[c].css.length;b++)document.write('<link rel="stylesheet" type="text/css" href="'+a[c].css[b]+'" />')}})(SQUARESPACE_ROLLUPS);
})();</script>
<script> Static.SQUARESPACE_CONTEXT = {"rollups":{"squarespace-audio-player":{"css":"//static.squarespace.com/universal/styles-compressed/audio-player-e30821377b06fc27e1b4c80dd4927e7e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/audio-player-d2f5bf61f0691b1d93f1f2975908e585-min.js"},"squarespace-calendar-block-renderer":{"css":"//static.squarespace.com/universal/styles-compressed/calendar-block-renderer-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/calendar-block-renderer-41a90502ab215915ef8fadcb01f99b97-min.js"},"squarespace-comments":{"css":"//static.squarespace.com/universal/styles-compressed/comments-8a18fc701c24453d389b8c98214648ae-min.css","js":"//static.squarespace.com/universal/scripts-compressed/comments-d900462905c686c3a27b597b367ef908-min.js"},"squarespace-dialog":{"css":"//static.squarespace.com/universal/styles-compressed/dialog-7e6d298e0cf04a347c5aa77ab59040cd-min.css","js":"//static.squarespace.com/universal/scripts-compressed/dialog-040af1e9faa7bdc616a416642c95820c-min.js"},"squarespace-pinterest":{"css":"//static.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/pinterest-e2d1ba37ad07db5eeada67621609a0d0-min.js"}},"pageType":1,"website":{"id":"531f2c4ee4b002f5b011bf00","identifier":"pied-piper","contentModifiedOn":1407512379570,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"America/New_York","machineTimeZoneOffset":-14400000,"timeZoneOffset":-14400000,"timeZoneAbbr":"EDT","siteTitle":"Pied Piper","siteDescription":"","location":{"mapZoom":14.0,"mapLat":40.74553568319323,"mapLng":-74.031917839917},"logoImageId":"53692e06e4b0cf20ae3854e1","shareButtonOptions":{"7":true,"4":true,"8":true,"5":true,"6":true},"logoImageUrl":"//static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/53692e06e4b0cf20ae3854e1/1407512379570/","authenticUrl":"http://www.piedpiper.com","baseUrl":"http://www.piedpiper.com","primaryDomain":"www.piedpiper.com","typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false},"websiteSettings":{"id":"531f2c4ee4b002f5b011bf01","websiteId":"531f2c4ee4b002f5b011bf00","type":"Business","subject":"Software and IT","subjects":[{"systemSubject":"tech"}],"markdownMode":false,"simpleLikingEnabled":false,"lastAgreedTermsOfService":2,"defaultPostFormat":"%y/%m/%d/%t","commentLikesAllowed":false,"commentAnonAllowed":false,"commentThreaded":false,"commentApprovalRequired":false,"commentAvatarsOn":false,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":false,"commentEnableByDefault":false,"commentDisableAfterDaysDefault":0,"disqusShortname":"","homepageTitleFormat":"%s","collectionTitleFormat":"%c \u2014 %s","itemTitleFormat":"%i \u2014 %s","commentsEnabled":false,"allowSquarespacePromotion":true,"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"expressCheckout":false,"useLightCart":false,"showNoteField":false,"currenciesSupported":["USD"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"orderConfirmationInjectCode":"","showCustomCheckoutForm":false,"enableMailingListOptInByDefault":true,"isLive":false,"stripeConnected":false,"storeState":3},"useEscapeKeyToLogin":true,"configurationMenuItems":[{},{},{},{},{},{},{}],"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled","size":"small","shape":"rect","color":"white"}},"websiteCloneable":false,"collection":{"title":"Pied Piper | HBO","id":"5320d02fe4b08972e50ae40c","fullUrl":"/"},"subscribed":false,"appDomain":"squarespace.com","secureDomain":"https://pied-piper.squarespace.com","templateTweakable":true,"tweakJSON":{"aspect-ratio":"Auto","contentBgColor":"rgba(255,255,255,1)","first-index-image-fullscreen":"true","fixed-header":"true","footerBgColor":"rgba(23,23,23,1)","gallery-arrow-style":"No Background","gallery-auto-crop":"true","gallery-autoplay":"false","gallery-design":"Slideshow","gallery-info-overlay":"Show on Hover","gallery-loop":"false","gallery-navigation":"Bullets","gallery-show-arrows":"true","galleryArrowBackground":"rgba(34,34,34,1)","galleryArrowColor":"rgba(255,255,255,1)","galleryAutoplaySpeed":"3","galleryCircleColor":"rgba(255,255,255,1)","galleryInfoBackground":"rgba(0, 0, 0, .7)","galleryThumbnailSize":"100px","gridSize":"350px","gridSpacing":"20px","headerBgColor":"rgba(2,10,25,1)","index-image-height":"Two Thirds","parallax-scrolling":"true","product-gallery-auto-crop":"true","product-image-auto-crop":"true"},"templateId":"515c7bd0e4b054dae3fcf003","pageFeatures":[1,2],"impersonatedSession":false,"demoCollections":[{"collectionId":"515c7b5ae4b0875140c3d954","deleted":true},{"collectionId":"51b6248fe4b01c921f517255","deleted":true},{"collectionId":"51b78b56e4b0d550d999d2d6","deleted":true},{"collectionId":"515c7b5ae4b0875140c3d959","deleted":true},{"collectionId":"515c7b5ae4b0875140c3d952","deleted":true},{"collectionId":"51b8d19de4b0a5cf9d021df1","deleted":false},{"collectionId":"51c37050e4b0895fa6dc9175","deleted":true},{"collectionId":"515c7b5ae4b0875140c3d955","deleted":true},{"collectionId":"515c7b5ae4b0875140c3d957","deleted":true}],"isFacebookTab":false,"tzData":{"zones":[[-300,"US","E%sT",null]],"rules":{"US":[[1967,2006,null,"Oct","lastSun","2:00","0","S"],[1987,2006,null,"Apr","Sun>=1","2:00","1:00","D"],[2007,"max",null,"Mar","Sun>=8","2:00","1:00","D"],[2007,"max",null,"Nov","Sun>=1","2:00","0","S"]]}}}; SquarespaceFonts.loadViaContext(); Squarespace.load(window); </script>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic"/>

<script type="text/javascript" src="http://www.hbo.com/html/js/s_code.js"></script><!-- End of Squarespace Headers -->
  <script type="text/javascript" src="https://static.squarespace.com/static/ta/515c7b5ae4b0875140c3d94a/2559/scripts/combo/?site.js"></script>
  </head>

  <body id="collection-5320d02fe4b08972e50ae40c" class="mobile-style-available gallery-design-slideshow aspect-ratio-auto lightbox-style-dark gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-arrow-style-no-background gallery-show-arrows gallery-auto-crop    event-excerpts event-list-date event-list-time event-list-address event-icalgcal-links  fixed-header parallax-scrolling  first-index-image-fullscreen index-image-height-two-thirds  hide-page-title title--description-alignment-left title--description-position-over-image   description-button-style-solid description-button-corner-style-square  blog-layout-columns blog-width-full    product-list-titles-under product-list-alignment-center product-item-size-11-square product-image-auto-crop product-gallery-size-11-square product-gallery-auto-crop show-product-price show-product-item-nav product-social-sharing   opentable-style-light newsletter-style-dark small-button-style-solid small-button-shape-square medium-button-style-solid medium-button-shape-square large-button-style-solid large-button-shape-square button-style-default button-corner-style-square native-currency-code-usd collection-5320d02fe4b08972e50ae40c collection-type-index collection-layout-default homepage view-list">

    <div id="mobileNav" data-content-field="navigation-mobileNav">
      
  <nav class="main-nav">
      <div class="nav-wrapper">
        <ul class="cf">
        

          
            <li class="index-collection active-link folder">

            
                <a href="/"><span>noQliao</span></a>
            
            </li>
          

          
            
        

          

          
            <li class="external-link">
              <a href="#hello"><span>WELCOME</span></a>
            </li>
          
            
        

          

          
            <li class="external-link">
              <a href="#technology"><span>TECHNOLOGY</span></a>
            </li>
          
            
        

          

          
            <li class="external-link">
              <a href="#the-crew"><span>THE CREW</span></a>
            </li>
          
            
        

          

          
            <li class="external-link">
              <a href="#contact"><span>CONTACT</span></a>
            </li>
          
            
        
      </ul>
    </div>
  </nav>

    </div>
  
    <div class="site-wrapper">
      <div class="site-inner-wrapper">
      <!--CONTENT INJECTION POINT-->
      
        
        <header id="header">
          <div class="title-nav-wrapper">
                      
            <h1 data-content-field="site-title" class="site-title">
              <a href="/" id="top">
                
                 <img src="assets/logo.png" alt="noQla" />
                
              </a>
            </h1>
            <a class="icon-menu" id="mobileMenu"></a>
            
            <!--MAIN NAVIGATION-->
            <div id="desktopNav" data-content-field="navigation-desktopNav">
              
  <nav class="main-nav">
      <div class="nav-wrapper">
        <ul class="cf">
        

          
            <li class="index-collection active-link folder">

            
                <a href="/"><span>noQla</span></a>
            
            </li>
          

          
            
        

          

          
            <li class="external-link">
              <a href="#hello"><span>WELCOME</span></a>
            </li>
          
            
        

          

          
            <li class="external-link">
              <a href="#technology"><span>TECHNOLOGY</span></a>
            </li>
          
            
        

          

          
            <li class="external-link">
              <a href="#the-crew"><span>THE CREW</span></a>
            </li>
          
            
        

          

          
            <li class="external-link">
              <a href="#contact"><span>CONTACT</span></a>
            </li>
          
            
        
      </ul>
    </div>
  </nav>

            </div>
          </div>
        </header>
        <section id="content-wrapper" data-content-field="main-content">
          <div class="sqs-cart-dropzone"></div>  
          <nav id="parallax-nav">
    <ul>
    
      <li><a href="#hello"><span class="nav-title">WELCOME</span></a></li>
    
      <li><a href="#technology"><span class="nav-title">TECHNOLOGY</span></a></li>
    
      <li><a href="#the-crew"><span class="nav-title">THE CREW</span></a></li>
    
      <li><a href="#contact"><span class="nav-title">CONTACT</span></a></li>
    
    </ul>
  </nav>
  

  <div id="parallax-images">
    
    <div class="image-container content-fill" data-url-id="hello" data-content-field="main-image">
      
      <img data-src="assets/section_homepage_bg_3.jpg" data-image="assets/section_homepage_bg_3.jpg" data-image-dimensions="2500x1406" data-image-focal-point="0.5,0.5" alt="section_homepage_bg_3.jpg"  class="loading" data-load="false" />
      <div class="image-overlay-wrapper"></div>
      
    </div>
    
    <div class="image-container content-fill" data-url-id="technology" data-content-field="main-image">
      
      <img data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335d873e4b037066057e0e2/1396037777561/section_technology_bg.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335d873e4b037066057e0e2/1396037777561/section_technology_bg.jpg" data-image-dimensions="2560x1440" data-image-focal-point="0.5,0.5" alt="section_technology_bg.jpg"  class="loading" data-load="false" />
      <div class="image-overlay-wrapper"></div>
      
    </div>
    
    <div class="image-container content-fill" data-url-id="the-crew" data-content-field="main-image">
      
      <img data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335daace4b0498d124d7292/1396038327139/section_team_bg.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335daace4b0498d124d7292/1396038327139/section_team_bg.jpg" data-image-dimensions="2560x1440" data-image-focal-point="0.5,0.5" alt="section_team_bg.jpg"  class="loading" data-load="false" />
      <div class="image-overlay-wrapper"></div>
      
    </div>
    
    <div class="image-container content-fill" data-url-id="contact" data-content-field="main-image">
      
      <img data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335de96e4b00a92d880a696/1396039322591/section_contact_bg.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335de96e4b00a92d880a696/1396039322591/section_contact_bg.jpg" data-image-dimensions="2560x1440" data-image-focal-point="0.5,0.5" alt="section_contact_bg.jpg"  class="loading" data-load="false" />
      <div class="image-overlay-wrapper"></div>
      
    </div>
    
  </div>

  
  <div class="parallax-item" data-url-id="hello">
    <div class="title-desc-wrapper over-image has-main-image" data-color-suggested="#000000">

      
      <div class="title-desc-image content-fill" data-content-field="main-image">
        <img data-src="assets/section_homepage_bg_3.jpg" data-image="assets/section_homepage_bg_3.jpg" data-image-dimensions="2500x1406" data-image-focal-point="0.5,0.5" alt="section_homepage_bg_3.jpg"  data-load="false"/>
        <div class="image-overlay-wrapper"></div>
      </div>
      

      <div class="title-desc-inner" data-collection-id="5320dc25e4b08ebcdf7a41b0">
        <h1 class="page-title">WELCOME</h1><br>
        
      </div>
    <div class="scroll-arrow"><span>SCROLL DOWN</span></div>
    </div>
    <div class="content has-main-image">
      <div class="content-inner has-content"  data-content-field="main-content">
        <div class="title-desc-wrapper">
          <div class="title-desc-inner" data-collection-id="5320dc25e4b08ebcdf7a41b0">
            <h1 class="page-title">WELCOME</h1><br>
            
          </div>
        </div>
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1407511083346" id="page-5320dc25e4b08ebcdf7a41b0"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-16c62c8f6dd72f940e06"><div class="sqs-block-content"><h1>WELCOME</h1><p><span><span style="font-size:15px">noQla is a multi-platform technology based on a proprietary universal compression algorithm that initially fielded Weisman Scores™ that were not merely competitive, but approached the theoretical limit of lossless compression. However, our new iteration of the algorithm now almost doubles that theoretical 2.89 limit, to 5.2. Yay us!&nbsp;</span></span></p></div></div></div></div></div>
       </div>
    </div>
  </div>
  
  <div class="parallax-item" data-url-id="technology">
    <div class="title-desc-wrapper over-image has-main-image" data-color-suggested="#110906">

      
      <div class="title-desc-image content-fill" data-content-field="main-image">
        <img data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335d873e4b037066057e0e2/1396037777561/section_technology_bg.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335d873e4b037066057e0e2/1396037777561/section_technology_bg.jpg" data-image-dimensions="2560x1440" data-image-focal-point="0.5,0.5" alt="section_technology_bg.jpg"  data-load="false"/>
        <div class="image-overlay-wrapper"></div>
      </div>
      

      <div class="title-desc-inner" data-collection-id="532068e3e4b04cff1200363d">
        <h1 class="page-title">TECHNOLOGY</h1><br>
        
      </div>
    <div class="scroll-arrow"><span>SCROLL DOWN</span></div>
    </div>
    <div class="content has-main-image">
      <div class="content-inner has-content"  data-content-field="main-content">
        <div class="title-desc-wrapper">
          <div class="title-desc-inner" data-collection-id="532068e3e4b04cff1200363d">
            <h1 class="page-title">TECHNOLOGY</h1><br>
            
          </div>
        </div>
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1407512379569" id="page-532068e3e4b04cff1200363d"><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-0f8483b66649256274a7"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-hidden ">
  
    <div class="intrinsic" style="max-width:200.0px;">
      
        <div style="padding-bottom:83.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="">
          <noscript><img src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335d89ee4b037066057e11b/1396037790895/section_technology_image.jpg"  alt="section_technology_image.jpg"  /></noscript><img class="thumb-image" alt="section_technology_image.jpg" data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335d89ee4b037066057e11b/1396037790895/section_technology_image.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335d89ee4b037066057e11b/1396037790895/section_technology_image.jpg" data-image-dimensions="200x166" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5335d89ee4b037066057e11b" data-type="image" />
        </div>
      

      

    </div>
  
  </div>
</div></div></div><div class="col sqs-col-9 span-9"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-16c62c8f6dd72f940e06"><div class="sqs-block-content"><h1>noQla Technology</h1><p><span style="font-size:15px">In its original incarnation, noQla was a songwriter-oriented music app that made it easier for songwriters to determine if their work infringed on copyrights. And frankly, we still think that wasn’t a terrible idea, and we were kind of looking forward to doing it, because who doesn’t like music, right? But i guess we’ll never know.&nbsp;</span></p><p><span><span style="font-size:16px"><span><span style="font-size:15px">However, based on user feedback that was suboptimal, often downright mean, and occasionally strangely racist, we pivoted to a SaaS model to create a “compression cloud” solution that would cover a wider user base. That strategy was meant to bring a clearer path to monetization and help us avoid the crappy licensing models for Lempel-Ziv-Welch in .gif files (among others). Because Lord knows, the world is not crying out for more .gif files showing cats making faces with rap lyrics underneath. But that platform has in turn been stripped away, and the original algorithm replaced with a more powerful one. We are currently rebuilding a more robust version of all deleted modules, so as to deploy an integrated, multi-platform functionality of all applications of the new algorithm. We hope in this way to make the world a better place by providing a suite of compression services across diversified market segments.</span></span></span></span></p></div></div></div></div></div>
       </div>
    </div>
  </div>
  
  <div class="parallax-item" data-url-id="the-crew">
    <div class="title-desc-wrapper over-image has-main-image" data-color-suggested="#50442a">

      
      <div class="title-desc-image content-fill" data-content-field="main-image">
        <img data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335daace4b0498d124d7292/1396038327139/section_team_bg.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335daace4b0498d124d7292/1396038327139/section_team_bg.jpg" data-image-dimensions="2560x1440" data-image-focal-point="0.5,0.5" alt="section_team_bg.jpg"  data-load="false"/>
        <div class="image-overlay-wrapper"></div>
      </div>
      

      <div class="title-desc-inner" data-collection-id="532c31b6e4b0e5f75512a0ea">
        <h1 class="page-title">THE CREW</h1><br>
        
      </div>
    <div class="scroll-arrow"><span>SCROLL DOWN</span></div>
    </div>
    <div class="content has-main-image">
      <div class="content-inner has-content"  data-content-field="main-content">
        <div class="title-desc-wrapper">
          <div class="title-desc-inner" data-collection-id="532c31b6e4b0e5f75512a0ea">
            <h1 class="page-title">THE CREW</h1><br>
            
          </div>
        </div>
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1407511211539" id="page-532c31b6e4b0e5f75512a0ea"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-0149efe7f7e2dd851782"><div class="sqs-block-content"><h1>THE CREW</h1></div></div><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-f8d2b03e3ede9542ed89"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-hidden ">
  
    <div class="intrinsic" style="max-width:165.0px;">
      
        <div style="padding-bottom:100.60606384277344%;" class="image-block-wrapper   has-aspect-ratio" data-description="">
          <noscript><img src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca203e4b0f44028bd65b1/1395433990197/"  /></noscript><img class="thumb-image" data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca203e4b0f44028bd65b1/1395433990197/" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca203e4b0f44028bd65b1/1395433990197/" data-image-dimensions="165x166" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="532ca203e4b0f44028bd65b1" data-type="image" />
        </div>
      

      

    </div>
  
  </div>
</div></div></div><div class="col sqs-col-9 span-9"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5f43d7cc72db7e26766c"><div class="sqs-block-content"><p><strong>RICHARD HENDRIKS</strong></p><p><em>“Atrus/The Puppet Master/Ricky”</em></p><p><strong><span>CEO/President</span></strong></p><p><span><span style="font-size:16px">Richard hails from Tulsa. He has earned degrees from the University of Oklahoma and Stanford. (Go Sooners and Cardinal!) Before starting noQla, he worked for Hooli as a software developer. While his work focuses on applied information theory, mostly optimizing lossless compression schema of both the length-limited and adaptive variants, his non-work interests range widely, from quantum computing to chaos theory. He could tell you about it, but THAT would NOT be a “length-limited” conversation! Despite those who said Richard should have accepted a certain $10 million offer to fully acquire noQla, he expects to soon receive Series A financing well in excess of that. So “boo-to-the-ya,” as the kids say (we’ve been told)!</span></span></p><p> </p></div></div></div></div><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-5b5c394fb9682862aed4"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-hidden ">
  
    <div class="intrinsic" style="max-width:165.0px;">
      
        <div style="padding-bottom:100.60606384277344%;" class="image-block-wrapper   has-aspect-ratio" data-description="">
          <noscript><img src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca22ce4b0c8441ae7cb21/1395434068677/section_team_erlich.jpg"  alt="section_team_erlich.jpg"  /></noscript><img class="thumb-image" alt="section_team_erlich.jpg" data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca22ce4b0c8441ae7cb21/1395434068677/section_team_erlich.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca22ce4b0c8441ae7cb21/1395434068677/section_team_erlich.jpg" data-image-dimensions="165x166" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="532ca22ce4b0c8441ae7cb21" data-type="image" />
        </div>
      

      

    </div>
  
  </div>
</div></div></div><div class="col sqs-col-9 span-9"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-6f67f71dcc0ce9724b16"><div class="sqs-block-content"><p><strong>ERLICH BACHMANN</strong></p><p><em>“<span>El Peludo</span>”/”The J-2000: Steve Jobs 2.0”</em></p><p><strong>Senior Minority Owner, Chief Executive of Physical Space (Landlord)</strong></p><p><span><span style="font-size:16px">Noted Silicon Valley entrepreneur and bon vivant Erlich Bachmann has founded both Palo Alto’s Hacker Hostel incubator (allowed to reopen by the Sheriff’s Department in 2011) and Aviato, acquired in 2008 for low seven figures. That’s right. Seven. Figures. He is also a pioneer in the field of crossbreeding Cannabis Sativa with those of Psylocybe Cubensis, with the goal of producing customizable hallucinations that recreate famous scenes from film and television. Has attended, for various lengths of time, Berkeley, Reed, Oberlin, and Hampshire College (B.A. in Ultimate Frisbee). Mr. Bachmann has no comment on any possible lawsuit against former Oracle VP Dan Melcher at this time, but that f*cker would do well to get right with whatever gods he holds dear.</span></span></p><p> </p></div></div></div></div><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-a7f4858f73038e60b271"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-hidden ">
  
    <div class="intrinsic" style="max-width:165.0px;">
      
        <div style="padding-bottom:100.60606384277344%;" class="image-block-wrapper   has-aspect-ratio" data-description="">
          <noscript><img src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca248e4b0fcd40d958448/1395434057228/section_team_dinesh.jpg"  alt="section_team_dinesh.jpg"  /></noscript><img class="thumb-image" alt="section_team_dinesh.jpg" data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca248e4b0fcd40d958448/1395434057228/section_team_dinesh.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca248e4b0fcd40d958448/1395434057228/section_team_dinesh.jpg" data-image-dimensions="165x166" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="532ca248e4b0fcd40d958448" data-type="image" />
        </div>
      

      

    </div>
  
  </div>
</div></div></div><div class="col sqs-col-9 span-9"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-868fc3efac13aed43a4e"><div class="sqs-block-content"><p><strong>DINESH CHUGTAI</strong></p><p><em>“<span>Wolfgang Amadeus Java</span>”</em></p><p><span><strong>Programmer</strong></span></p><p><span><span style="font-size:16px">Born in Islamabad, Dinesh became a naturalized citizen in 2010, unlike Gilfoyle, who was an illegal Canadian alien until quite recently and is a piece of garbage. He has received honors degrees in information theory and computer science from Yale, Caltech, and Oxford. His hobbies include both watching rugby and the wearing of its signature shirts (which perfectly combine form and function in a way not popularly appreciated), libertarian politics, and being stared at suspiciously during air travel. He is not sexually attracted to code in any programming language, written by either men or women, despite what you may or may not have heard. Any slanderous gossip to the contrary is total bullsh*t and probably originated with the aforesaid piece of crap Gilfoyle.</span></span></p><p> </p></div></div></div></div><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-1871e10de7bd785c5f79"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-hidden ">
  
    <div class="intrinsic" style="max-width:165.0px;">
      
        <div style="padding-bottom:100.60606384277344%;" class="image-block-wrapper   has-aspect-ratio" data-description="">
          <noscript><img src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca27fe4b0c8441ae7cb6f/1395434144309/section_team_gilfoyle.jpg"  alt="section_team_gilfoyle.jpg"  /></noscript><img class="thumb-image" alt="section_team_gilfoyle.jpg" data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca27fe4b0c8441ae7cb6f/1395434144309/section_team_gilfoyle.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca27fe4b0c8441ae7cb6f/1395434144309/section_team_gilfoyle.jpg" data-image-dimensions="165x166" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="532ca27fe4b0c8441ae7cb6f" data-type="image" />
        </div>
      

      

    </div>
  
  </div>
</div></div></div><div class="col sqs-col-9 span-9"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-0d0856e3e4a57dbe96be"><div class="sqs-block-content"><p><strong>(BERTRAM) GILFOYLE</strong></p><p><em>“The Eye of Sauron”</em></p><p><span><strong>Systems Architect</strong></span></p><p>McGill.&nbsp;<span style="line-height:1.68em">MIT.&nbsp;</span><span style="line-height:1.68em">EFF.&nbsp;</span><span style="line-height:1.68em">666Chan.</span></p><p><span><span style="font-size:16px">In 2011 he replaced the homepage of the Federal Reserve with the cover of Neil Gaiman’s “Neverwhere.” (paperback edition) It took them a week to get it down. You’re welcome.</span></span></p><p><span><span style="font-size:16px"><span><span style="font-size:16px">Gilfoyle has played drums in a series of Toronto-area first-wave-DC-influenced hardcore, thrashcore, hatecore, corecore, and corehard outfits under the name Strychnine McTwat. In fact, he has been asked to leave some of the most influential bands in the Toronto scene, including Piss Nazis, the Scumtones, and Das Abortions. &nbsp;He was about to sign a high three-figure deal with EbolaTard Records, when the company’s president was arrested, and the company’s office was impounded, after drugs were found in its door panels during a traffic stop.</span></span></span></span></p><p><strong><span style="font-size:16px"><em>Non serviam.</em></span></strong></p><p><span>&nbsp;</span></p></div></div></div></div><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-ebd3ff716291d72a4865"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-hidden ">
  
    <div class="intrinsic" style="max-width:165.0px;">
      
        <div style="padding-bottom:100.60606384277344%;" class="image-block-wrapper   has-aspect-ratio" data-description="">
          <noscript><img src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca259e4b0fcd40d95845e/1395434092157/"  /></noscript><img class="thumb-image" data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca259e4b0fcd40d95845e/1395434092157/" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/532ca259e4b0fcd40d95845e/1395434092157/" data-image-dimensions="165x166" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="532ca259e4b0fcd40d95845e" data-type="image" />
        </div>
      

      

    </div>
  
  </div>
</div></div></div><div class="col sqs-col-9 span-9"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-e7bbd8852e01f1c0e693"><div class="sqs-block-content"><p><strong>JARED (DONALD) DUNN</strong></p><p><em>“The Andrea Dworkin of Building Long-Term Value”</em></p><p><span><strong>Head of Business Development</strong></span></p><p><span><span style="font-size:16px">Jared’s early life is best passed over, but he managed to rise above it thanks to a series of largely well-meaning foster parents, and went on to receive a B.A. from Vassar College in Economics. During those too-soon-over happiest of years, he was proud to sing second alto with the “Joyce Carol Notes A Capella Confrontation.“ At Vassar he was also coxswain for Women’s Heavyweight Crew, and co-founder of Take Back “Take Back the Night.” After graduation, he worked for Google and Congresswoman Nancy Pelosi before becoming a director of special projects at Hooli, working closely with CEO Gavin Belson, before moving to noQla in 2014. Despite his recent unfortunate shipping container experience, he is fine: so while wishes for his recovery are well-motivated, please refrain from making them to him, as it forces him to relive that frozen, robot-infested hell-hole.</span></span></p></div></div></div></div></div></div></div>
       </div>
    </div>
  </div>
  
  <div class="parallax-item" data-url-id="contact">
    <div class="title-desc-wrapper over-image has-main-image" data-color-suggested="#151314">

      
      <div class="title-desc-image content-fill" data-content-field="main-image">
        <img data-src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335de96e4b00a92d880a696/1396039322591/section_contact_bg.jpg" data-image="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/5335de96e4b00a92d880a696/1396039322591/section_contact_bg.jpg" data-image-dimensions="2560x1440" data-image-focal-point="0.5,0.5" alt="section_contact_bg.jpg"  data-load="false"/>
        <div class="image-overlay-wrapper"></div>
      </div>
      

      <div class="title-desc-inner" data-collection-id="53206900e4b0d65660023087">
        <h1 class="page-title">CONTACT</h1><br>
        
      </div>
    <div class="scroll-arrow"><span>SCROLL DOWN</span></div>
    </div>
    <div class="content has-main-image">
      <div class="content-inner has-content"  data-content-field="main-content">
        <div class="title-desc-wrapper">
          <div class="title-desc-inner" data-collection-id="53206900e4b0d65660023087">
            <h1 class="page-title">CONTACT</h1><br>
            
          </div>
        </div>
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1407511274500" id="page-53206900e4b0d65660023087"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-ec0794ad925c2250591f"><div class="sqs-block-content"><h1>Contact</h1><p><span style="font-size:11.0pt">noQla is not associated with noQla Irrigation. It might be associated with HBO’s Silicon Valley series (<a target="_blank" href="http://www.hbo.com/silicon-valley">find out</a>). Watch it Sundays at 10PM.&nbsp;</span></p><p><span style="font-size:11.0pt">Did noQla Win TechCrunch Disrupt 2014? Find out by purchasing <a target="_blank" href="https://itunes.apple.com/us/tv-season/silicon-valley-season-1/id849050573">season one on iTunes</a>!</span></p><p>Did you like our old logo? Some people did, and did NOT in fact think there was anything penis-like about it, including the CEO's mom. To see the old logo,&nbsp;<a href="http://www.piedpiper.com/oldlogo"><span>click here</span></a>.&nbsp;</p></div></div><div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-f9977623bdda868a7539"><div class="sqs-block-content"><div id="fb-root"></div>


</div></div><div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-2e8dd8b55c8ff79be889"><div class="sqs-block-content"><a href="https://twitter.com/intent/tweet?button_hashtag=noQla" class="twitter-hashtag-button" data-related="haoleSan">Tweet #noQla</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div></div></div></div></div>
       </div>
    </div>
  </div>
          <div class="back-to-top"></div>
        </section>
        
      

      

        <!--FOOTER WITH OPEN BLOCK FIELD-->
        <footer id="footer">
          <div class="back-to-top-link"><a href="#top"><span class="arrow"></span>Top</a></div>
          <div class="footer-wrapper">
            <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1395944688408" id="footerBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-713fe491a2c303b33937"><div class="sqs-block-content"><p class="text-align-center">©2014 XYZ, INC. ALL RIGHTS RESERVED.</p></div></div></div></div><div class="row sqs-row"><div class="col sqs-col-3 span-3"></div><div class="col sqs-col-3 span-3"></div><div class="col sqs-col-3 span-3"></div><div class="col sqs-col-3 span-3"></div></div></div>
          </div>
        </footer>

     
<script language="JavaScript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><!--/DO NOT REMOVE/--><script type="text/javascript" data-sqs-type="imageloader">(function() {var SQUARESPACE_SIZES=[1500,1E3,750,500,300,100],IMAGE_LOADING_CLASS="loading",ImageLoader=new function(){this.load=function(a,b){function c(a,b,c){var d=new Image;d.onload=b;d.onerror=c;d.src=a}a.getDOMNode&&(a=a.getDOMNode());var d=this._getDataFromNode(a,b),e=!(!d.dimensions||!d.dimensions.width||!d.dimensions.height),l=d.load+"";if("false"===l)return!1;var g=d.mode;if(e&&("fit"==g||"fill"==g)){g=a.parentNode;if(!g)return console.error("Not doing anything, parentNode not found."),!1;if(!this.refresh(a,
b,g))return!1}var n=this._intendToLoad(a,d);if("string"==typeof n&&"viewport"!==l){var m=this.getUrl(n,d),d=a.getAttribute("data-image-resolution");a.getAttribute("src")!==m&&this.isValidResolution(n,d)&&(a.onload=function(){a.className=a.className.replace(IMAGE_LOADING_CLASS," ").trim();a.setAttribute("data-image-resolution",n)},!a.getAttribute("src")&&-1===a.className.indexOf(IMAGE_LOADING_CLASS)&&(a.className+=(a.className?" ":"")+IMAGE_LOADING_CLASS),!a.getAttribute("src")&&e?a.setAttribute("src",
m):c(m,function(){e?a.setAttribute("src",m):(a.setAttribute("data-image-dimensions",this.width+"x"+this.height),ImageLoader.load(a,b))},function(){a.className=a.className.replace(IMAGE_LOADING_CLASS," ").trim();a.setAttribute("src",m)}));return!0}return n};this.refresh=function(a,b,c){a.getDOMNode&&(a=a.getDOMNode());c&&c.getDOMNode&&(c=c.getDOMNode());c=c||a.parentNode;if(!c)return console.error("Not doing anything, parentNode not found."),!1;var d=this._getDataFromNode(a,b),e=c.offsetWidth,l=c.offsetHeight;
b=d.mode;if("none"!=b){var g=d.dimensions.width,n=d.dimensions.height,m=g/n,q=e/l;if(d.fixedRatio)"fill"==b&&q>m||"fit"==b&&q<m?(h=100,k=100*(q/m),r=(100-k)*d.focalPoint.y,p=0):(h=100*(m/q),k=100,r=0,p=(100-h)*d.focalPoint.x),a.style.top=r+"%",a.style.left=p+"%",a.style.width=h+"%",a.style.height=k+"%";else{var f;"fill"===b?f=m>q?l/n:e/g:"fit"===b&&(f=m<q?l/n:e/g);!d.stretch&&("fit"==b&&1<f)&&(f=1);var h=Math.ceil(g*f),k=Math.ceil(n*f);if(0===h||0===k)return!1;var p,r;"fill"===b?(p=Math.min(Math.max(e/
2-h*d.focalPoint.x,e-h),0),r=Math.min(Math.max(l/2-k*d.focalPoint.y,l-k),0)):"fit"===b&&(f=d.fitAlignment,p=f.left?0:f.right?e-h:h<e?(e-h)/2:0,r=f.top?0:f.bottom?l-k:k<l?(l-k)/2:0,"inline"==this._getStyle(a,"display")&&(a.style.fontSize="0px"),this._resetAlt(a,function(){h-=a.offsetHeight-a.clientHeight;k-=a.offsetWidth-a.clientWidth}));a.style.top=Math.ceil(r)+"px";a.style.left=Math.ceil(p)+"px";a.style.width=Math.ceil(h)+"px";a.style.height=Math.ceil(k)+"px"}p=this._getStyle(c,"position");a.style.position=
"relative"==p?"absolute":"relative";if("fill"==b&&(b=this._getStyle(c,"overflow"),!b||"hidden"!=b))c.style.overflow="hidden";return!0}};this._intendToLoad=function(a,b){function c(c,d){"none"===b.mode&&(a.style.width=null,a.style.height=null);var e=parseFloat(a.getAttribute(c)),f=parseFloat(e);if(!f||isNaN(f))e=g._getStyle(a,c),f=parseFloat(e);if(!f||isNaN(f))e=g._getStyle(a,"max-"+c,"max"+(c.substr(0,1).toUpperCase()+c.substr(1))),f=parseFloat(e);if(0===d||e)switch(g._stringType(e)){case "percentage":d=
parseInt(e,10)/100*l["offset"+c.substr(0,1).toUpperCase()+c.substr(1)];break;case "number":d=parseInt(e,10)}!f&&(0!==d&&!a.getAttribute("src"))&&(d=0);return d}b=b||this._getDataFromNode(a);if(!b.source)return!1;var d=a.offsetWidth,e=a.offsetHeight,l=a.parentNode,g=this;this._resetAlt(a,function(){d=c("width",d);e=c("height",e)});0===d&&0===e?(d=b.dimensions.width,e=b.dimensions.height):0===d?d=this.getDimensionForValue("width",e,b):0===e&&(e=this.getDimensionForValue("height",d,b));"viewport"===
b.load&&(a.style.width=Math.floor(d)+"px",a.style.height=Math.floor(e)+"px");return this.getSquarespaceSize(d,e,b)};this._getDataFromNode=function(a,b){b=b||{};var c={focalPoint:{x:0.5,y:0.5},dimensions:{width:null,height:null},mode:"none",fitAlignment:{center:!0},load:"true",stretch:!0,fixedRatio:!1};if(b.focalPoint)c.focalPoint=b.focalPoint;else{var d=a.getAttribute("data-image-focal-point");if(d&&(d=d.split(","))&&2==d.length)c.focalPoint={x:parseFloat(d[0]),y:parseFloat(d[1])}}if(b.dimensions)c.dimensions=
b.dimensions;else if((d=a.getAttribute("data-image-dimensions"))&&(d=d.split("x"))&&2==d.length)c.dimensions={width:parseInt(d[0],10),height:parseInt(d[1],10)};b.mode?c.mode=b.mode:a.parentNode&&(d=a.parentNode.className,-1!==d.indexOf("content-fill")?c.mode="fill":-1!==d.indexOf("content-fit")&&(c.mode="fit"));if("fit"===c.mode&&a.parentNode&&(d=b.fitAlignment||a.getAttribute("data-alignment")||a.parentNode.getAttribute("data-alignment")))c.fitAlignment={top:-1!==d.indexOf("top"),left:-1!==d.indexOf("left"),
center:-1!==d.indexOf("center"),right:-1!==d.indexOf("right"),bottom:-1!==d.indexOf("bottom")};if(b.load)c.load=b.load;else if(d=a.getAttribute("data-load"))c.load=d;if("undefined"!==typeof b.stretch)c.stretch=b.stretch;else if(d=a.getAttribute("data-image-stretch"))c.stretch="true"===d?!0:!1;c.source=b.source?b.source:a.getAttribute("data-src");if(c.source&&(-1!==c.source.indexOf("squarespace.com")||-1!==c.source.indexOf("squarespace.net"))&&"http:"===c.source.substr(0,5)&&"https"===window.location.protocol.substr(0,
5))c.source=c.source.replace("http://","https://");if(b.fixedRatio)c.fixedRatio=b.fixedRatio;else if(d=a.getAttribute("data-fixed-ratio"))c.fixedRatio="true"==d;return c};this._stringType=function(a){return"string"===typeof a&&-1!==a.indexOf("%")?"percentage":isNaN(parseInt(a,10))?NaN:"number"};this._getStyle=function(a,b,c){var d;a.currentStyle?d=a.currentStyle[c||b]:window.getComputedStyle&&(d=document.defaultView.getComputedStyle(a,null).getPropertyValue(b));return d};this._isVisible=function(a){a=
a.getBoundingClientRect();return 0<=a.left&&0<=a.top||0<=a.bottom&&0<=a.right||0<=a.left&&0<=a.bottom||0<=a.right&&0<=a.top};this.getSquarespaceSize=function(a,b,c){a=Math.max(b/(c.dimensions.height/c.dimensions.width),a);"number"==typeof window.devicePixelRatio&&(a*=window.devicePixelRatio);for(b=1;b<SQUARESPACE_SIZES.length&&!(a>SQUARESPACE_SIZES[b]);b++);return SQUARESPACE_SIZES[b-1]+"w"};this.getDimensionForValue=function(a,b,c){var d=c.dimensions.width;c=c.dimensions.height;return"width"==a?
d/c*b:"height"==a?c/d*b:NaN};this.getUrl=function(a,b){var c=b.source;return a&&("/"==c[0]||-1!=c.indexOf("squarespace.com")||-1!=c.indexOf("squarespace.net"))?(-1===c.indexOf("format="+a)&&(c=c+(-1!==c.indexOf("?")?"&":"?")+"format="+a),window.Static&&(window.Static.IN_BACKEND&&-1===c.indexOf("storage=local"))&&(c+="&storage=local"),c):b.source};this.isValidResolution=function(a,b){a=parseInt(a,10);b=parseInt(b,10);return isNaN(a)||isNaN(b)?!0:a>b};this._resetAlt=function(a,b){var c=a.getAttribute("alt"),
d=c&&0<c.length&&!a.getAttribute("src");if(d){var e=a.style.display;a.removeAttribute("alt");a.style.display="none";a.offsetHeight+0;a.style.display=e}b.call(this);d&&a.setAttribute("alt",c)}};window.ImageLoader=ImageLoader;var siteCSSHandle,loopHandle,imagesTimer=50;function ancestorHasClass(a,b){return"undefined"!==typeof a.className&&-1!==a.className.indexOf(b)?!0:a.parentNode?ancestorHasClass(a.parentNode,b):!1}
var hasAttr=function(a,b){return a.hasAttribute?a.hasAttribute(b):!!a.attributes[b]},getAttr=function(a,b){return a.getAttribute?a.getAttribute(b):a.attributes[b]};function init(){var a=document.images;if(0<a.length)for(var b=0,c=a.length;b<c;b++)(hasAttr(a[b],"data-image")||hasAttr(a[b],"data-src"))&&"false"!==getAttr(a[b],"data-load")+""&&ImageLoader.load(a[b])}init();window.YUI&&YUI.add("squarespace-imageloader",function(a){});
})();</script>
<script>Squarespace.afterBodyLoad(Y);</script>
      </div>
    </div>

  
  </body>
</html> 
